body {
    font-family: Arial, sans-serif;
    background-color: #3a3ab3c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.3); /* Transparenter Hintergrund */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(90deg, #232121, #a0a4a0dc, #7e7e87, #514e51);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 15s ease infinite;
    margin-bottom: 20px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccccccb6;
    border-radius: 50px;
    width: calc(100% - 60px);
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.3); /* Transparenter Hintergrund */
    outline: none;
}

#search-button {
    background: #ccccccb6; */
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button img {
    width: 20px;
    height: 20px;
}

.current-weather {
    margin-top: 20px;
    display: none; /* Initially hidden */
    text-align: center;
}

.current-weather img {
    width: 100px;
    height: 100px;
}

.current-temperature {
    font-size: 2rem;
    margin: 5px 0;
}

.current-location {
    font-size: 1.5rem;
    margin: 5px 0;
}

.weather-info {
    margin-top: 20px;
    display: none; /* Initially hidden */
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.forecast-day {
    background: rgba(249, 249, 249, 0.35); /* Transparenter Hintergrund */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 15%; /* Feste Breite für die Tagesblöcke */
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
}

.forecast-day img {
    max-width: 100%;
    height: auto;
}
